<div class="{% if card.spoiler is defined and not show_spoilers %} spoiler{% endif %}">
<div class="card-text border-{{ card.faction_code }}">
	{{ card.text|raw }}
</div>
{% if card.victory %}
	<div class="victory">{% trans %}Victory{% endtrans %} {{card.victory}}.</div>
{% endif %}
{% if card.vengeance %}
  <div class="vengeance">{% trans %}Vengeance{% endtrans %} {{card.vengeance}}.</div>
{% endif %}
</div>
