<div class="card-info">
	<span class="card-type">{{ card.type_name }}{% if card.slot %}. {{card.slot}}{% endif %}{% if card.subtype_name is defined %}. {{card.subtype_name}}{% endif %}</span>
	{% include 'AppBundle:Search:card-props.html.twig' %}
</div>
