{% if card.is_unique == true %}&oplus;{% endif %}
<a href="{{ card.url }}" class="card-tooltip card-name{% if card.available == false %} card-preview{% endif %}" data-code="{{ card.code }}">{{ card.name }}</a>
