{% if card.is_unique == true %}<span class="icon-unique"></span> {% endif %}
<a href="{{ card.url }}" class="card-name card-tip{% if card.available == false %} card-preview{% endif %}" data-code="{{ card.code }}">{{ card.name }}
</a>
{% if card.subname %}<div class="card-subname small">{{ card.subname }}</div> {% endif %}
