{% if card.is_unique == true %}<span class="icon-unique"></span> {% endif %}
<a href="{{ card.url }}" class="card-tip card-name{% if card.available == false %} card-preview{% endif %}" data-code="{{ card.code }}">{{ card.name }}</a>
