<p class="fg-{{ faction_code }}"
	style="padding: 3px 5px; border-radius: 3px; border: 1px solid silver">
	<button type="button" class="close" aria-hidden="true" onclick="$(this).parent('p').remove()">&times;</button>
	<input type="hidden" name="cards[]" value="{{ code }}">{{ name }}
</p>
