<div class="card-info">
	<span class="card-type">{{ card.type_name }}.</span>
	<span class="card-props">{% include 'AppBundle:Search:card-props.html.twig' %}</span>
	<p class="card-traits">{{ card.traits }}</p>
</div>
