{% extends 'AppBundle:Search:display.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.card.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript">
	app.user.params.card_id = {{ cards[0].id }};
	</script>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-9">
        <div class="row">
				{% for card in cards %}
        	
        	{% if card.type_code == "location" %}
        	{% include 'AppBundle:Search:card-back.html.twig' %}
        	{% include 'AppBundle:Search:card-front.html.twig' %}
        	{% else %}
        	{% include 'AppBundle:Search:card-front.html.twig' %}
        	{% include 'AppBundle:Search:card-back.html.twig' %}
        	{% endif %}
	        {% if includeReviews %}
	   	    	{% include 'AppBundle:Search:display-card-reviews.html.twig' %}
	        {% endif %}
				{% endfor %}
        </div>
    </div>
</div>

{% endblock %}

