{% extends 'AppBundle:Search:display.html.twig' %}

{% block main %}

<div class="row">
    <div class="col-md-9">
        <div class="row">
{% for i in 0..cards|length-1 %}{% set card = cards[i] %}
        	<div class="col-sm-7" style="margin-bottom:2em">
        		<div>
        			<div class="panel panel-default">
        				<div class="panel-heading">
        					<h3 class="panel-title">
        						{% include 'AppBundle:Search:card-name.html.twig' %}
        					</h3>
        	  			</div>
        				<div class="panel-body card-content">
        					{% include 'AppBundle:Search:card-info.html.twig' %}
        					{% include 'AppBundle:Search:card-text.html.twig' %}
        					{% include 'AppBundle:Search:card-flavor.html.twig' %}
        					{% include 'AppBundle:Search:card-illustrator.html.twig' %}
							{% include 'AppBundle:Search:card-pack-faction.html.twig' %}
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="col-sm-5" style="margin-bottom:2em">
        		<div>
        			{% if card.imagesrc %}
        			   <img src="{{ card.imagesrc }}" alt="{{ card.name }}" class="img-responsive" style="margin:auto">
        			{% else %}
        			   <div class="no-image" style="margin:auto"><div class="no-image-text">No image</div></div>
        			{% endif %}
        		</div>
        	</div>
{% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        {% include 'AppBundle:Default:google_adaptable_ad.html.twig' %}
    </div>
</div>

{% endblock %}

