<div class="row">
	<form method="GET" action="{{ path('cards_find') }}" id="search-form" role="form">
		<div class="col-sm-4">
		<div class="input-group" style="margin-bottom:.5em">
		  <input type="text" class="form-control smart-filter-help" size="30" name="q" tabindex="1" value="{{ q|default('') }}">
		  <span class="input-group-btn">
		      <button class="btn btn-primary" type="submit">Search</button>
		  </span>
		</div><!-- /input-group -->
		</div>
		{% include 'AppBundle:Search:searchoptions.html.twig' %}
	</form>
</div>
