<div class="col-sm-4" style="margin-bottom:.5em">
<select name="sort" class="form-control">
	<option value="name"    {% if sort|default('name') == "name"    %}selected{% endif %}>Sort by Name</option>
	<option value="set"     {% if sort|default('name') == "set"     %}selected{% endif %}>Sort by Set</option>
	<option value="faction" {% if sort|default('name') == "faction" %}selected{% endif %}>Sort by Faction</option>
	<option value="type"    {% if sort|default('name') == "type"    %}selected{% endif %}>Sort by Type</option>
	<option value="cost"    {% if sort|default('name') == "cost"    %}selected{% endif %}>Sort by Cost</option>
	<option value="strength"{% if sort|default('name') == "strength"%}selected{% endif %}>Sort by Strength</option>
</select>
</div>
<div class="col-sm-4" style="margin-bottom:.5em">
<select name="view" class="form-control">
	<option value="list"    {% if view|default('list') == "list"    %}selected{% endif %}>View as a Checklist</option>
	<option value="spoiler" {% if view|default('list') == "spoiler" %}selected{% endif %}>View as a Spoiler</option>
	<option value="card"    {% if view|default('list') == "card"    %}selected{% endif %}>View as Full Cards</option>
	<option value="scan"    {% if view|default('list') == "scan"    %}selected{% endif %}>View as Scans only</option>
	<option value="short"   {% if view|default('list') == "short"   %}selected{% endif %}>View as Simple List</option>
</select>
</div>