{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
<div class="main white container">
<h1>Tournament edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_tournament') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
