{% macro integer_or_x(value) %}
    {% if value is null %}X{% else %}{{ value }}{% endif %}
{% endmacro %}

{% macro card_name_with_pack_no_link(card) %}
<a class="card-tip" data-code="{{ card.code }}">{{ card.name }} <i>({{ card.pack.name }})</i></a>
{% endmacro %}