/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/*
!bin/console
/composer.phar
/vendor/
/web/bundles/
tags
/web/js/
/web/css/
.externalToolBuilders/
.settings/
.buildpath
.project
.tags_swap
.idea/
.DS_Store
/web/*.json
