<!-- Modal -->
<div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="archiveModalLabel">Upload deck archive</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form action="{{ path('decks_upload_all') }}" method="POST" enctype="multipart/form-data">
							<div class="form-group">
								<label for="uparchive">File</label>
								<input class="form-control" type="file" id="uparchive" name="uparchive">
							</div>
							<div class="pull-right">
								<button type="submit" class="btn btn-success">Upload</button>
								<button type="button" class="btn btn-default" onclick="$('#archiveModal').modal('hide')">Cancel</button>
							</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
