<!--  card modal -->
<div class="modal" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title card-name">Modal title</h3>
                <div class="row modal-deck-options">
                    <div class="col-sm-4 text-center modal-deck-qty">
                        Deck Quantity: <div class="btn-group modal-qty" data-toggle="buttons"></div>
                    </div>
                    <div class="col-sm-4 text-center modal-deck-ignore">
                        Ignore Limit: <div class="btn-group modal-ignore" data-toggle="buttons"></div>
                    </div>
                    <div class="col-sm-4 text-center modal-side-deck-qty">
                        Side Deck Quantity: <div class="btn-group modal-side-qty" data-toggle="buttons"></div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 modal-image hidden-xs"></div>
                    <div class="col-sm-6 modal-info card-content"></div>
                </div>
            </div>
            <div class="modal-footer">
                <a role="button" href="#" class="btn btn-default card-modal-link">Go to card page</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  /cardModal -->
