<!-- Modal -->
<div class="modal fade" id="tagClearModal" tabindex="-1" role="dialog" aria-labelledby="tagClearModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="tagClearModalLabel">Clear all tags</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form>
						<div class="form-group">
							<label>Are you sure you want to clear all tags from the selected decks?</label>
						</div>
						<div class="pull-right">
							<input type="hidden" name="ids" id="tag_clear_ids">
							<button type="submit" class="btn btn-success" onclick="$('#tagClearModal').modal('hide');app.ui.tag_clear_process(event)">Yes, clear</button>
							<button type="button" class="btn btn-default" onclick="$('#tagClearModal').modal('hide')">Cancel</button>
						</div>
						</form>
					</div><!-- /#modal-info -->
				</div><!-- /.row -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
