parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    # units: seconds
    cache_expiration:  600
    
    # Email sender
    email_sender_address: alsciende@icloud.com
    email_sender_name: Alsciende
    
    # Branding
    website_name: ThronesDB
    game_name: A Game of Thrones: The Card Game Second Edition
    publisher_name: Fantasy Flight Games
       
    google_analytics_tracking_code: UA-44413511-1
    google_adsense_client: ca-pub-2254488884647695
    google_adsense_slot: 3777512162
