security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt|error)|css|images|js)/
            security: false

        default:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_provider: form.csrf_provider
                always_use_default_target_path: true
                default_target_path: index
            logout:       true
            anonymous:    true
#
#    access_control:
#        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: ^/remind, role: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: /api/, role: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: ^/js/, role: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: ^/$, role: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: ^/.*, role: ROLE_USER }
