{% extends 'AppBundle:Admin:base.html.twig' %}

{% block content -%}
<h1>Faction creation</h1>

    <form action="{{ path('admin_faction_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Create</button>
        <a href="{{ path('admin_faction') }}" class="btn btn-default">
         	Back to the list
     	</a>
    </form>
{% endblock %}
