{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="main admin container">
<ol class="breadcrumb">
  <li><a href="{{ path('index') }}">Index</a></li>
  <li><a href="{{ path('admin') }}">Admin</a></li>
  <li class="active">{{ app.request.get('_route') }}</li>
</ol>
{% block content %}{% endblock %}
</div>
{% endblock %}
