{% extends 'AppBundle:Admin:base.html.twig' %}

{% block content -%}
<h1>Find a User</h1>

{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}

<form action="{{ path('admin_find_user_process') }}" method="post">

<div class="form-group">
<label for="username">Find by Username</label>
<input type="text" class="form-control" id="username" name="username"> 
</div>

<div class="form-group">
<label for="id">Find by Id</label>
<input type="text" class="form-control" id="id" name="id"> 
</div>

<button type="submit" class="btn btn-default">Submit</button>

</form>
    
    
{% endblock %}
