@font-face {
	font-family: 'agot2';
	src:url('../fonts/agot2.eot?-cih4mt');
	src:url('../fonts/agot2.eot?#iefix-cih4mt') format('embedded-opentype'),
		url('../fonts/agot2.ttf?-cih4mt') format('truetype'),
		url('../fonts/agot2.woff?-cih4mt') format('woff'),
		url('../fonts/agot2.svg?-cih4mt#agot2') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'agot2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-baratheon:before {
	content: "\e600";
}
.icon-greyjoy:before {
	content: "\e601";
}
.icon-intrigue:before {
	content: "\e602";
}
.icon-lannister:before {
	content: "\e603";
}
.icon-martell:before {
	content: "\e604";
}
.icon-military:before {
	content: "\e605";
}
.icon-nightswatch:before {
	content: "\e606";
}
.icon-power:before {
	content: "\e607";
}
.icon-stark:before {
	content: "\e608";
}
.icon-targaryen:before {
	content: "\e609";
}
.icon-tyrell:before {
	content: "\e60a";
}
.icon-unique:before {
	content: "\e60b";
}
