/* fonts */

body {
	font: 16px/20px 'Amiri', serif
}
.card-name {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 700;
}
.card-type {
	font-weight: 700;
}
.card-traits, .card-text i {
	font-weight: 700;
	font-style: italic;
}
.card-text {
	border-left:1px solid #888;
}
.card-text p {
	margin: 6px;
}
.card-flavor {
	font-style: italic;
}
.color-military {
	color: #c8232a;
}
.color-intrigue {
	color: #13522f;
}
.color-power {
	color: #292e5f;
}
.color-neutral {
	color: #30150f;
}
.color-baratheon {
	color: #6c4e1e;
}
.color-lannister {
	color: #630707;
}
.color-nightswatch {
	color: #070707;
}
.color-stark {
	color: #3d3d3d;
}
.color-targaryen {
	color: #080404;
}
.color-tyrell {
	color: #0b2b17;
}

.card-flavor cite {
	white-space: nowrap;
}
.card-flavor cite::before {
	/* ndash followed by non-breaking zero-with space */
	content: "\2013\FEFF";
}