/* fonts */

body {
}
.card-content {
	font: 16px/20px 'Amiri', serif
}
.card-name {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 700;
}
.card-type {
	font-weight: 700;
}
.card-traits, .card-text i {
	font-weight: 700;
	font-style: italic;
}
.card-text {
	border-left:1px solid #888;
}
.card-text p {
	margin: 6px;
}
.card-flavor {
	font-style: italic;
}
.card-flavor cite {
	white-space: nowrap;
}
.card-flavor cite::before {
	/* en dash followed by non-breaking zero-width space */
	content: "\2013\FEFF";
}

.color-military {
	color: #c8232a;
}
.color-intrigue {
	color: #13522f;
}
.color-power {
	color: #292e5f;
}
.color-neutral {
	color: #30150f;
}
.color-baratheon {
	color: #6c4e1e;
}
.color-lannister {
	color: #630707;
}
.color-nightswatch {
	color: #070707;
}
.color-stark {
	color: #3d3d3d;
}
.color-targaryen {
	color: #080404;
}
.color-tyrell {
	color: #0b2b17;
}
.border-neutral {
	border-color: #30150f;
}
.border-baratheon {
	border-color: #6c4e1e;
}
.border-lannister {
	border-color: #630707;
}
.border-nightswatch {
	border-color: #070707;
}
.border-stark {
	border-color: #3d3d3d;
}
.border-targaryen {
	border-color: #080404;
}
.border-tyrell {
	border-color: #0b2b17;
}

.display-spoiler-card {
	margin-bottom: 1em;
}
.display-spoiler-card h4 {
	border-bottom: 1px solid #ddd;
}
.qtip-agot2db{
	min-width: 310px;
	max-width: 350px;
	font-size: 15px;
}


#deck {
}
.deck-loading {
	padding: 50px 0;
	text-align: center;
}

.dropdown-menu label {
  margin: 0;
}
.dropdown-menu input[type=checkbox], .dropdown-menu input[type=radio] {
  margin: -4px 8px 0 -6px;
}

body {
	background: #FAF7F5;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background: #FAF7F5;
}
.nav-tabs {
  margin-bottom: 15px;
}
td.type, td.faction {
	text-align:center;
}

/********* ONE DECK *********/

.deck-intro .media-left {
	font-size: 96px;
}
.deck-content {
	margin-bottom: 15px;
}

/********* LIST OF DECKS ************/
#decks td {
	vertical-align: middle;
}
#decks img {
	height: 50px;
}

/************ DECK GALLERY **********/
#deck-gallery table { width: 100%; table-layout: fixed; border-collapse: collapse; overflow: hidden }
#deck-gallery table td { padding: 0 }
#deck-gallery table td > div { height: 100px; overflow: visible; position: relative }
#deck-gallery table td > div > img { height: 100% ; border: 1px solid white; border-radius: 10px;}
#deck-gallery table td > div > div { background: rgba(0, 0, 0, 0.5); position: absolute; left: 1px; bottom: 1px; color: white; width: 24px; height: 24px; line-height: 24px; font-size: 16px; font-weight: bold; text-align: center; border-radius: 15px; font-family: monospace }

/********* DRAW SIMULATOR ************/

#table-draw-simulator-content img.card-image {width:99px;float:left;margin:5px;box-shadow: black 0px 0px 5px;border-radius: 5px;}
#table-draw-simulator-content img.card-image.trashed {opacity: 0.25;box-shadow: none;}
#table-draw-simulator-content img.card-image.trashed:hover {opacity: 0.75;}
#table-draw-simulator-content div.card-proxy {background:#888;color:white;width:99px;height:138px;float:left;margin:5px;box-shadow: black 0px 0px 5px;border-radius: 5px;}
#table-draw-simulator-content img.card-proxy.trashed {opacity: 0.25;box-shadow: none;}
#table-draw-simulator-content img.card-proxy.trashed:hover {opacity: 0.75;}
#table-draw-simulator-content div.card-proxy div{position: relative;top: 50%; transform: translateY(-50%);text-align:center}
#draw-simulator-special {display: none;}

