/* fonts */

body {
}
.card-content {
	font: 16px/20px 'Amiri', serif
}
.card-name {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 700;
}
.card-type {
	font-weight: 700;
}
.card-traits, .card-text i {
	font-weight: 700;
	font-style: italic;
}
.card-text {
	border-left:1px solid #888;
}
.card-text p {
	margin: 6px;
}
.card-flavor {
	font-style: italic;
}
.card-unique {
	font-weight: 400;
}
.card-unique::after {
	/* circled plus */
	content: "\2295";
}

.card-flavor cite {
	white-space: nowrap;
}
.card-flavor cite::before {
	/* en dash followed by non-breaking zero-width space */
	content: "\2013\FEFF";
}



.color-military {
	color: #c8232a;
}
.color-intrigue {
	color: #13522f;
}
.color-power {
	color: #292e5f;
}
.color-neutral {
	color: #30150f;
}
.color-baratheon {
	color: #6c4e1e;
}
.color-lannister {
	color: #630707;
}
.color-nightswatch {
	color: #070707;
}
.color-stark {
	color: #3d3d3d;
}
.color-targaryen {
	color: #080404;
}
.color-tyrell {
	color: #0b2b17;
}
.border-neutral {
	border-color: #30150f;
}
.border-baratheon {
	border-color: #6c4e1e;
}
.border-lannister {
	border-color: #630707;
}
.border-nightswatch {
	border-color: #070707;
}
.border-stark {
	border-color: #3d3d3d;
}
.border-targaryen {
	border-color: #080404;
}
.border-tyrell {
	border-color: #0b2b17;
}

.display-spoiler-card {
	margin-bottom: 1em;
}
.display-spoiler-card h4 {
	border-bottom: 1px solid #ddd;
}
.qtip-agot2db{
	min-width: 310px;
	max-width: 350px;
	font-size: 15px;
}
