AppBundle\Entity\Encounter:
    type: entity
    table: Encounter
    oneToMany:
        cards:
            targetEntity: Card
            orderBy: {'position':'ASC'}
            mappedBy: type
    fields:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
        code:
            type: string
            length: 255
            nullable: false
        name:
            type: string
            length: 1024
            nullable: false
    uniqueConstraints:
        type_code_idx:
            columns: [ code ]
            