{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block body %}
<div class="container">
    <div class="alert alert-danger" role="alert">That page doesn't exist!</div>
</div>
{% endblock %}
