{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Error 500{% endblock %}

{% block body %}
<div class="container">
    <div class="alert alert-danger" role="alert">The server encountered an error. Please report it to @Alsciende on <a href="https://twitter.com/alsciende">Twitter</a> or <a href="https://www.reddit.com/user/Alsciende/">Reddit</a>.</div>
</div>
{% endblock %}
