<table class="table table-condensed" id="table-predecessor">
<thead>
<tr><th colspan="{% if decklist.precedent %}4{% else %}1{% endif %}"><span class="fa fa-backward"></span> Derived from</th></tr>
</thead>
<tbody>
{% if decklist.precedent %}
{% include 'AppBundle:Default:decklist-table-row.html.twig' %}
{% else %}
<tr><td>None. Self-made deck here.</td></tr>
{% endif %}
</tbody>
</table>