<table class="table table-condensed" id="table-graph-strengths">
<thead>
<tr><th colspan="1"><span class="fa fa-bar-chart"></span> Repartition by Strength</th></tr>
</thead>
<tbody>
<tr>
    <td><div id="strengthChart"><button type="button" class="btn btn-link" onclick="make_strength_graph()">Display graph</button></div></td>
</tr>
</tbody>
</table>