<table class="table table-condensed" id="table-graph-costs">
<thead>
<tr><th colspan="1"><span class="fa fa-bar-chart"></span> Repartition by Cost</th></tr>
</thead>
<tbody>
<tr>
    <td><div id="costChart"><button type="button" class="btn btn-link" onclick="make_cost_graph()">Display graph</button></div></td>
</tr>
</tbody>
</table>
