<table class="table table-condensed" id="table-successor">
<thead>
<tr><th colspan="{% if decklist.successors|length %}4{% else %}1{% endif %}"><span class="fa fa-forward"></span> Inspiration for</th></tr>
</thead>
<tbody>
{% if decklist.successors|length %}
{% for successor in decklist.successors %}
{% include 'AppBundle:Default:decklist-table-row.html.twig' %}
{% endfor %}
{% else %}
<tr><td>None yet</td></tr>
{% endif %}
</tbody>
</table>