{% extends "AgfaWebBundle::security.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block form %}
<p>{% trans %}Your account is not awaiting confirmation{% endtrans %}.</p>
<p>{% trans %}If you forgot your password{% endtrans %}, <a href="{{ path('fos_user_resetting_request') }}">{% trans %}click here{% endtrans %}</a>, {% trans %}otherwise log in{% endtrans %} <a href="{{ path('fos_user_security_login') }}">here</a>.</p> 
{% endblock %}
