<div id="deck-chart-faction" style="width:100%;height:300px"></div>
<div id="deck-chart-icon" style="width:100%;height:300px"></div>
<div id="deck-chart-strength" style="width:100%;height:300px"></div>
<div id="deck-chart-cost" style="width:100%;height:300px"></div>
