{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/ui.deckimport.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
	$(document).on('data.app', function () {
		app.data.factions = app.data.db.collection('faction', {primaryKey:'code', changeTimestamp: false});
		app.data.factions.setData({{ factions|json_encode|raw }});
	});
	</script>
{% endblock %}

{% block body %}

<div class="main white container">

<div class="row">

<div class="col-md-6">
<form role="form">
  <div class="form-group">
    <label for="content">Paste the content of your deck here</label>
    <textarea class="form-control" id="content" rows="30"></textarea>
  </div>
  <button id="btn-import" type="button" class="btn btn-primary">Parse</button>
</form>
</div>

<div class="col-md-6">
<form role="form" action="{{ path('deck_save') }}" method="POST">
  <div class="form-group">
    <label for="name">Deck Name</label>
    <input class="form-control decklist-name" type="text" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <ul class="list-group" id="deck">
    </ul>
  </div>
  <input type="hidden" name="faction_code">
  <input type="hidden" name="content">
  <button id="btn-save" type="submit" class="btn btn-success">Save the deck</button>
</form>
</div>

</div> <!-- .row -->

</div> <!-- .container -->

{% endblock %}
