{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/app.deckinit.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}

<style>
	.investigator-select-item {
		padding-top : 8px; border : solid white 2px;
	}
	.investigator-select-item:hover {
		border : solid rgba(100, 100, 100, 0.2) 2px;
	}
	.investigator-select-item:hover  {
		background-color : rgba(100, 100, 100, 0.2);
	}
</style>

<div class="main white container">

<form action="{{ path('deck_initbuild') }}" class="form-inline" method="post" enctype="application/x-www-form-urlencoded">
<div>
	<div class="investigator-select">
		<h2>Choose an investigator
		<select class="form-control" id="deck_init_all" onchange="app.deck_init.update_build_init();">
			<option value="your">Your Investigators</option>
			<option value="all">All Investigators</option>
		</select>
		</h2>
		<div class="row" id="my_inv">
			{% for investigator in my_investigators %}
				{% include 'AppBundle:Builder:initbuild-investigator.html.twig' %}
			{% endfor %}
		</div>
		<div class="row hidden" id="all_inv">
			{% for investigator in investigators %}
				{% include 'AppBundle:Builder:initbuild-investigator.html.twig' %}
			{% endfor %}
		</div>
	</div>
</div>

</form>

</div>


{% endblock %}
