{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="container">

<h1>Choose your faction</h1>

<div class="row">
{% for faction in factions %}
	<div class="col-md-3 col-sm-4 col-xs-6">
		<a href="{{ path('deck_initbuild', {faction_code:faction.code}) }}">
			<img src="{{ asset('bundles/app/images/factions/' ~ faction.code ~ '.png') }}" class="img-responsive">
		</a>
	</div>
{% endfor %}
</div>

</div>

{% endblock %}
