
<div class="row" id="personal_filters">
	<!-- Search Bar -->
	<div class="col-sm-12" style="margin-bottom:10px">
		<input type="text" class="form-control" id="filter-text-personal" placeholder="Find a card or filter the list" tabindex="1">
	</div>
	 <!-- Search Bar -->
	<div class="col-sm-12" style="margin-bottom:10px">
      <div class="btn-group btn-group-justified" data-filter="subtype_code" data-toggle="buttons"></div>
	</div>

</div>

<!-- Collection Table -->
<div class="row" id="special-collection">
	<div class="col-sm-12">
		<table class="table table-condensed table-hover" style="margin-bottom:10px">
			<thead>
				<tr>
					<th style="min-width:85px">Quantity</th>
					<th>Name</th>
					<th class="xp">XP</th>		
					<th class="cost">Cost</th>					
					<th class="type">Type</th>
					<th class="faction">Class</th>
				</tr>
			</thead>
			<tbody id="special-collection-table" class="collection"></tbody>
		</table>
	</div><!-- /.col-sm-12 -->
	<div id="special-collection-grid" class="col-sm-12"></div>
</div><!-- /.row -->
<!-- Collection Table -->
