	
	
{% include 'AppBundle:Builder:draw-simulator.html.twig' %}

<!-- Graphs -->
<table class="table table-condensed" id="table-graph-costs">
<thead>
<tr><th colspan="1"><span class="glyphicon glyphicon-stats"></span> Repartition by Cost</th></tr>
</thead>
<tbody>
<tr>
	<td><div id="costChart"></div></td>
</tr>
</tbody>
</table>

<table class="table table-condensed" id="table-graph-strengths">
<thead>
<tr><th colspan="1"><span class="glyphicon glyphicon-stats"></span> Repartition by Strength</th></tr>
</thead>
<tbody>
<tr>
	<td><div id="strengthChart"></div></td>
</tr>
</tbody>
</table>
	
	