
<!-- Suggestions -->
<table class="table table-condensed" id="table-suggestions" style="display:none">
<thead>
<tr><th colspan="6"><span class="fa fa-fast-forward"></span> Card suggestions</th></tr>
</thead>
<tbody>
<tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</tbody>
</table>
<!-- Suggestions -->
