{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Delete Account Request{% endblock %}

{% block body %}
<div class="main white container">

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfV-Q-mfUwC7TWHqc2qq8lKJs2DP1ANJnYauXXefJRbDZsllg/viewform?embedded=true" width="640" height="784" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div>
{% endblock %}
