<style>
i						{ font-weight: bold; }
div#campaign_notz li	{ padding: 10; }
table.arkham td			{ padding: 10; text-align: center; border: 1px solid; }
</style>

<h1>Table of Contents</h1>
<nav class="inner rop">
<ul>
<li><a href="#Intro">The Ghouls Hunger...</a></li>
<li><a href="#Campaign_Setup">Campaign Setup</a></li>
	<ul>
	<li><a href="#Campaign_Log">The Campaign Log</a></li>
	</ul>
<li><a href="#Part_I_The_Gathering">Part I: The Gathering</a></li>
	<ul>
	<li><a href="#Part_I_Setup">Setup</a></li>
	<li><a href="#Part_I_Resolution">Resolution</a></li>
	</ul>
<li><a href="#Expanded_Campaign_Rules">Expanded Campaign Rules</a></li>
	<ul>
	<li><a href="#Experience">Earning and Spending Experience</a></li>
	<li><a href="#Trauma_Death_and_Insanity">Trauma, Death, and Insanity</a></li>
	</ul>
<li><a href="#Part_II_The_Midnight_Masks">Part II: The Midnight Masks</a></li>
	<ul>
	<li><a href="#Part_II_Setup">Setup</a></li>
	<li><a href="#Part_II_Map">Suggested Location Placement for "The Midnight Masks"</a></li>
	<li><a href="#Part_II_Resolution">Resolution</a></li>
	</ul>
<li><a href="#Part_III_The_Devourer_Below">Part III: The Devourer Below</a></li>
	<ul>
	<li><a href="#Part_III_Setup">Setup</a></li>
	<li><a href="#Part_III_Resolution">Resolution</a></li>
	</ul>
<li><a href="#The End">The End...or Is It?</a></li>
</ul>
</nav>

<div class="col-md-8" id="campaign_notz" style="text-align: justify">

<h1 style="text-align: center">Campaign Guide<br>
NIGHT OF THE ZEALOT</h1>  

<h1 id="Intro">The Ghouls Hunger...</h1>

<blockquote><em>
Friday, September 18, 1925. Arkham, Massachusetts. It is the end of a long and abnormally hot summer. The ﬁrst hints of autumn beckon, but a heavy heat persists, relentless. A silent, unspoken anger grips the town. Tempers are short, and in the last week alone there have been numerous reports of townspeople coming to heated, violent blows with one another over simple misunderstandings.<br>
<br>
And now, a call from James Hankerson. He claims to have found a dismembered body in his barn.<br>
<br>
Blaming the weather would be too easy. There is something wrong with this town, and not a whole lot this old soothsayer can do to stop the slide. My auguries indicate a small group of investigators will soon take note of these strange happenings and set forth to make things right. I'll be watching their progress... but I won't be holding my breath.
</em></blockquote>

<p><em>Night of the Zealot</em> is a campaign for <em>Arkham Horror: The Card Game</em> for 1-4 players. It consists of the following scenarios: "The Gathering," "The Midnight Masks," and "The Devourer Below." The cards for each of these scenarios can be found in the <em>Arkham Horror: The Card Game</em> core set.</p>

<p>While playing a campaign, the players advance from one scenario to the next in sequential order, with the results of their performance and their decisions in each scenario carrying over to inﬂuence the next. Additionally, as the players advance through the story, they earn experience, which they can use to purchase new cards or upgrade existing cards for their deck.</p>

<h1 id="Campaign_Setup">Campaign Setup</h1>

<p>To set up the <em>Night of the Zealot</em> campaign, perform the following steps in order.</p>

<ol>

<li><b>Choose investigator(s).</b> Each player chooses a different investigator to play and records his or her choice in the Campaign Log.</li>

<li><b>Each player assembles his or her investigator deck.</b> The full rules for deck customization can be found on page 8 of the Rules Reference.</li>

<li><b>Choose diﬂiculty level.</b> There are four levels of difficulty in <em>Arkham Horror: The Card Game</em>: Easy, Standard, Hard, and Expert. The players decide which dilﬁculty best suits their group, and they keep this difficulty for the duration of the campaign.</li>

<li><b>Assemble the campaign chaos bag.</b> Place the chaos tokens indicated below into the chaos bag, and return the other chaos tokens to the game box.</li>

<ul>

<li><b>Easy (<em>I want to experience the story</em>):</b><br>
+1, +1, 0, 0, 0, -1, -1, -1, -2, -2, [skull], [skull], [cultist], [tablet], [auto_fail], [elder_sign]</li>

<li><b>Standard (<em>I want a challenge</em>):</b><br>
+1, 0, 0, -1, -1, -1, -2, -2, -3, -4, [skull], [skull], [cultist], [tablet], [auto_fail], [elder_sign]</li>

<li><b>Hard (<em>I want a true nightmare</em>):</b><br>
0, 0, 0, -1, -1, -2, -2, -3, -3, -4, -5, [skull], [skull], [cultist], [tablet], [auto_fail], [elder_sign]</li>

<li><b>Expert (<em>I want Arkham Horror</em>):</b><br>
0, -1, -1, -2, -2, -3, -3, -4, -4, -5, -6, -8, [skull], [skull], [cultist], [tablet], [auto_fail], [elder_sign]</li>

</ul>

</ol>

<p>Players are now ready to set up Part I: The Gathering.</p>

<h2 id="Campaign_Log">The Campaign Log</h2>

<em>
<p>The Campaign Log (on the back cover of this book) is used to track the progress and development of the campaign. At the end of each scenario, the players must record their results by entering all of the relevant information in the Campaign Log. This includes any experience earned by an investigator, each investigator's trauma level, story assets or weaknesses earned by each investigator, and any <b>killed</b> or <b>insane</b> investigators.</p>

<p>During the resolution of a scenario, the players are often instructed to record an important note or story element in the Campaign Log, under "Campaign Notes." These notes will often be referenced in later scenarios, allowing decisions from one scenario to carry over into later scenarios. If the players are instructed to cross out one of these notes, the crossed-off note is ignored for the remainder of the campaign.</p>
</em>

<h1 id="Part_I_The_Gathering">Part I: The Gathering</h1>

<p><em>You and your partners have been investigating strange events taking place in your home city of Arkham, Massachusetts. Over the past few weeks, several townspeople have mysteriously gone missing. Recently, their corpses turned up in the woods, savaged and half-eaten. The police and newspapers have stated that wild animals are responsible, but you believe there is something else going on. You are gathered together at the lead investigator's home to discuss these bizarre events.</em></p>

<h2 id="Part_I_Setup">Setup</h2>

<ul>

<li>Gather all cards from the following encounter sets: <em>The Gathering</em>, <em>Rats</em>, <em>Ghouls</em>, <em>Striking Fear</em>, <em>Ancient Evils</em>, and <em>Chilling Cold</em>. These sets are indicated by the following icons:<br>
[torch] [rats] [ghouls] [striking_fear] [ancient_evils] [chilling_cold]</li>

<li>Put the <a href="http://arkhamdb.com/card/01111" target="_blank">Study</a> location into play. Set each other location aside, out of play. Each investigator begins play in the Study.</li>

<li>Set the <a href="http://arkhamdb.com/card/01116" target="_blank">Ghoul Priest</a> and <a href="http://arkhamdb.com/card/01117" target="_blank">Lita Chantler</a> cards aside, out of play.</li>

<li>Shuttle the remainder of the encounter cards (from the previously gathered encounter sets) to form the encounter deck.</li>

</ul>

<h2 id="Part_I_Resolution">Resolution (DO NOT READ until the end of the scenario)</h2>

<details>

<summary><b>If no resolution was reached (each investigator resigned or was defeated)</b></summary>

<p><em>You barely manage to escape your house with your lives. The woman from your parlor follows you out the front door, slamming it behind her. "You fools! See what you have done?" She pushes a chair in front of the door, lodging it beneath the doorknob. "We must get out of here. Come with me, and I will tell you what l know. We are the only ones who can stop the threat that lurks beneath from being unleashed throughout the city." You're in no state to argue. Nodding, you follow the woman as she runs from your front porch out into the rainy street, toward Rivertown.</em></p>

<ul>

<li>In your Campaign Log, record that <em>your house is still standing.</em></li>

<li>In your Campaign Log, record that <em>the Ghoul Priest is still alive.</em></li>

<li>The lead investigator earns the <a href="http://arkhamdb.com/card/01117" target="_blank">Lita Chantler</a> card and may include it in his or her deck. This card does not count toward that investigators deck size.</li>

<li>Each investigator earns experience equal to the Victory X value of each card in the victory display (remember to add eligible locations to the victory display). Each investigator earns 2 bonus experience as he or she gains insight into the hidden world of the Mythos.</li>

</ul>

</details>
<br>
<details>

<summary><b>Resolution 1</b></summary>

<p><em>You nod and allow the red-haired woman to set the walls and floor of your house ablaze. The ﬂre spreads quickly, and you run out the front door to avoid being caught in the inferno. From the sidewalk, you watch as everything you own is consumed by the flames. "Come with me," the woman says. "You must be told of the threat that lurks below. Alone, we are surely doomed... but together, we can stop it."</em></p>

<ul>

<li>In your Campaign Log, record that <em>your house has burned to the ground.</em></li>

<li>The lead investigator earns the <a href="http://arkhamdb.com/card/01117" target="_blank">Lita Chantler</a> card and may include it in his or her deck. This card does not count toward that investigator's deck size.</li>

<li>The lead investigator suffers 1 mental trauma from watching his or her home become a smoldering ruin.</li>

<li>Each investigator earns experience equal to the Victory X value of each card in the victory display (remember to add eligible locations to the victory display). Each investigator earns 2 bonus experience as he or she gains insight into the hidden world of the Mythos.</li>

</ul>

</details>
<br>
<details>

<summary><b>Resolution 2</b></summary>

<p><em>You refuse to follow the overzealous woman's order and kick her out of your home for fear that she will set it ablaze without your permission. "Fools! You are making a grave mistake!" she warns. "You do not understand the threat that lurks below... the grave danger we are all in!" Still shaken by the night's events, you decide to hear the woman out. Perhaps she can shed some light on these bizarre events... but she doesn't seem to trust you very much.</em></p>

<ul>

<li>In your Campaign Log, record that <em>your house is still standing.</em></li>

<li>The lead investigator earns 1 experience, as he or she refuses to let the night's events destroy his or her life.</li>

<li>Each investigator earns experience equal to the Victory X value of each card in the victory display (remember to add eligible locations to the victory display). Each investigator earns 2 bonus experience as he or she gains insight into the hidden world of the Mythos.</li>

</ul>

</details>
<br>
<details>

<summary><b>Resolution 3</b></summary>

<p><em>You run to the hallway to try to find a way to escape the house, but the burning-hot barrier still blocks your path. Trapped, the horde of feral creatures that have invaded your home close in, and you have nowhere to run.</em></p>

<ul>

<li>In your Campaign Log, record that <em>Lita was forced to ﬁnd others to help her cause.</em></li>

<li>In your Campaign Log, record that <em>your house is still standing.</em></li>

<li>In your Campaign Log, record that <em>the Ghoul Priest is still alive.</em></li>

<li>Each investigator who has not resigned is <b>killed</b>. If there are not enough investigators to continue the campaign, the campaign is over and the players lose. Otherwise, advance to the next scenario. (Each player whose investigator has been killed must choose a new investigator from the pool of available investigators. Refer to page 13 of the Rules Reference for the full rules on killed investigators.)</li>

<li>If the lead investigator was <b>killed</b>, choose an investigator to earn the <a href="http://arkhamdb.com/card/01117" target="_blank">Lita Chantler</a> card. That investigator may include this card in his or her deck. It does not count toward that investigators deck size.</li>

</ul>

</details>

<h1 id="Expanded_Campaign_Rules">Expanded Campaign Rules</h1>

<h3 id="Experience">Earning and Spending Experience</h3>

<p>As an investigator delves deeper into the Mythos, he or she gains insight into the hidden truths of the world — the Ancient Ones, monsters that dwell in the shadows, and secrets that humanity was never meant to know. This insight manifests in the form of experience. During the resolution of a scenario, investigators may earn 1 or more experience. Each investigator earns experience separately, and experience may not be transferred from one investigator to another. Experience can often be obtained by placing encounter cards worth victory points in the victory display, or through story decisions. Refer to page 5 of the Rules Reference for the full rules on earning experience points.</p>

<p>Experience may be spent to learn new abilities or spells, or to acquire new items and weapons, in the form of additional cards. Adding a new card to a deck costs experience equal to that card's level, denoted by 1 or more white pips near the top left corner of the card. Adding a new card to your deck always costs at least 1 experience, and it requires that you maintain your deck size (usually by removing a card).</p>

<p>Some cards represent a higher-level version of a card with the same title. These cards have the same title as their other versions but may have additional effects, additional skill icons, or different costs. If a player has a lower-level version of a card and wishes to purchase the higher-level version, he or she may <b>upgrade</b> that card by spending experience equal to the difference in level between the two. The new version is added to the deck, and the older version is removed. Refer to page 5 of the Rules Reference for the full rules for spending experience points.</p>

<h3 id="Trauma_Death_and_Insanity">Trauma, Death, and Insanity</h3>

<p>Trauma represents permanent damage that has been done to an investigator's health and/or psyche. If an investigator is defeated during a scenario, that investigator still advances to the next scenario with the rest of the party, unless the scenario resolution states that the investigator is <b>killed</b> or driven <b>insane</b>. However, an investigator who is defeated through damage or horror may suffer permanent trauma, which stays with that investigator for the remainder of the campaign. Refer to page 5 of the Rules Reference for the full rules on suffering trauma.</p>

<p><b>Note:</b> If you are worried about taking trauma, resigning from a scenario is almost always better than defeat.</p>

<p>Players are now ready to begin the next scenario in the campaign.</p>

<h1 id="Part_II_The_Midnight_Masks">Part II: The Midnight Masks</h1>

<p>Check Campaign Log. <em>If Lita was forced to find others to help her cause:</em> Read <b>Intro 1.</b></p>

<p>Otherwise, skip to <b>Intro 2.</b></p>

<p><b>Intro 1:</b> <em>The woman came to you in a panic, raving about monsters emerging from the ground in a home near Rivertown. "I managed to trap them," she explains, "but there are others. Other pits. Other domains." Only last week, you would have thought she was a lunatic. Recent events, however, have challenged your preconceptions of normality. You decide to hear her out.</em></p>

<p><em>She introduces herself as Lita Chantler and lays out a tale that strains the limits of your belief. "The creatures I speak of," she claims, "are called ghouls — cruel beings who plague the crypts, caverns, and tunnels beneath the city of Arkham..."</em></p>

<p>Continue to <b>Intro 3.</b></p>

<p><b>Intro 2:</b> <em>In the wake of the disaster at your home, Lita Chantler, the red-haired woman from your parlor, lays out a tale that — even in light of what you have just witnessed — strains the limits of your belief." The creatures in your home," she claims, "are called ghouls — cruel beings who plague the crypts, caverns, and tunnels beneath the city of Arkham..."</em></p>

<p>Continue to <b>Intro 3.</b></p>

<p><b>Intro 3:</b> <em>"These creatures feed on the corpses of humans, and they are served by a dark cult within Arkham whose members have inexplicably come to worship the ancient master of the ghouls. This cult has been killing innocent people and feeding them to the ghouls, satiating a monstrous hunger. A dark balance was maintained. Until now. Recently," Lita continues, "one of their lairs, where the corpses were stored, was destroyed. Since then, the ghouls have been more active than usual. I have tracked their movements and tried my best to stop them from running amok throughout the city. But I think there is something worse going on. The cult has been planning something darker; and more ominous, than anything I have yet observed. Indications are that this plan shall come to fruition tonight, shortly after midnight. Beyond that, I cannot fathom what to expect.</em></p>

<p><em>"Many of the cultists," Lita continues, "will seem like everyday people, despite their foul intentions. Whenever the cult meets, its members don masks shaped like the skulls of various animals to protect their identities from one another. These masks are our mark. Symbols of death and decay. We must unmask the cultists to expose and derail their plans. We have but a few hours. The more cultists we find before midnight, the better."</em></p>

<p>Continue to <b>Setup.</b></p>

<h2 id="Part_II_Setup">Setup</h2>

<ul>

<li>Gather all cards from the following encounter sets: <em>The Midnight Masks</em>, <em>Chilling Cold</em>, <em>Nightgaunts</em>, <em>Dark Cult</em>, and <em>Locked Doors</em>. These sets are indicated by the following icons:<br>
[arkham] [chilling_cold] [nightgaunts] [pentagram] [locked_doors]</li>

<li>Set the <em>Cult of Umôrdhoth</em> encounter set aside as a separate "Cultist deck," and shuﬂle it. This set is indicated by the following icon: [cultists]</li>

<li>Choose one of the two <a href="http://arkhamdb.com/find?q=01130%7C01131&decks=all" target="_blank">Downtown</a> locations and one of the two <a href="http://arkhamdb.com/find?q=01126%7C01127&decks=all" target="_blank">Southside</a> locations at random and put them into play. Remove the other versions of Downtown and Southside from the game. Then, put the <a href="http://arkhamdb.com/card/01134" target="_blank">Northside</a>, <a href="http://arkhamdb.com/card/01132" target="_blank">Easttown</a>, <a href="http://arkhamdb.com/card/01125" target="_blank">Rivertown</a>, <a href="http://arkhamdb.com/card/01128" target="_blank">St. Mary's Hospital</a>, <a href="http://arkhamdb.com/card/01133" target="_blank">Graveyard</a>, <a href="http://arkhamdb.com/card/01129" target="_blank">Miskatonic University</a>, and <a href="http://arkhamdb.com/card/01124" target="_blank">Your House</a> locations into play. (See next page for suggested placement.)</li>

<li>Based on the number of players in the game:</li>

<ul>

<li>If there is exactly 1 player in the game, no changes are made.</li>

<li>If there are exactly 2 players in the game, search the gathered encounter sets for 1 copy of Acolyte and spawn it at Southside.</li>

<li>If there are exactly 3 players in the game, search the gathered encounter sets for 2 copies of Acolyte. Spawn 1 at Southside and 1 at Downtown.</li>

<li>If there are exactly 4 players in the game, search the gathered encounter sets for 3 copies of Acolyte. Spawn 1 at Southside, 1 at Downtown, and 1 at the Graveyard.</li>

</ul>

<li>Check Campaign Log. <em>If your house has burned to the ground:</em> Remove Your House from the game. Each investigator begins play at Rivertown.</li>

<li>Check Campaign Log. <em>If your house is still standing:</em> Each investigator begins play at Your House.</li>

<li>Shuttle the remainder of the encounter cards to form the encounter deck.</li>

<li>Check Campaign Log. <em>If the Ghoul Priest is still alive:</em> Shuttle it into the encounter deck.</li>

</ul>

<p><b>Note:</b> Some effects first encountered in this scenario may cause doom to be placed on enemies. Remember that doom on enemies counts toward the amount of doom that will advance the agenda.</p>

<h2 id="Part_II_Map">Suggested Location Placement for "The Midnight Masks"</h2>

<table class="arkham" style="border-spacing:20";>
<tr>
	<td>Northside</td>
	<td>Downtown</td>
	<td>Eastside</td>
</tr>
<tr>
	<td>Miskatonic University</td>
	<td>Rivertown</td>
	<td>Graveyard</td>
</tr>
<tr>
	<td>St. Mary's Hospital</td>
	<td>Southside</td>
	<td>Your House</td>
</tr>
</table>

<h2 id="Part_II_Resolution">Resolution (DO NOT READ until the end of the scenario)</h2>

<details>

<summary>If no resolution was reached (each investigator resigned or was defeated)</summary>

<p>Read <b>Resolution 1.</b></p>

</details>
<br>
<details>

<summary>Resolution 1</summary>

<p><em>You've managed to obtain some useful information about the cult and its plans. You can only hope it's enough.</em></p>

<ul>

<li>In your Campaign Log, under "Cultists We Interrogated," record the names of each unique <i>Cultist</i> enemy in the victory display.</li>

<li>In your Campaign Log, under "Cultists Who Got Away," record the name of each unique enemy still remaining in the Cultist deck or in play. If it is Agenda 1, record "The Masked Hunter" here as well.</li>

<li>If the Ghoul Priest is in the victory display, cross out <em>"the Ghoul Priest is still alive"</em> in your Campaign Log.</li>

<li>Each investigator earns experience equal to the Victory X value of each card in the victory display.</li>

</ul>

</details>
<br>
<details>

<summary>Resolution 2</summary>

<p><em>Twelve bells ring out, signaling midnight. You're out of time; the cult's ritual will begin shortly. You've managed to obtain some useful information about the cult and its plans. You can only hope it's enough.</em></p>

<ul>

<li>In your Campaign Log, under "Cultists We Interrogated," record the names of each unique <i>Cultist</i> enemy in the victory display.</li>

<li>In your Campaign Log, under "Cultists Who Got Away," record the name of each unique enemy still remaining in the Cultist deck or in play.</li>

<li>In your Campaign Log, record that <em>it is past midnight.</em></li>

<li>If the Ghoul Priest is in the victory display, cross out <em>"the Ghoul Priest is still alive"</em> in your Campaign Log.</li>

<li>Each investigator earns experience equal to the Victory X value of each card in the victory display.</li>

</ul>

</details>

<h1 id="Part_III_The_Devourer_Below">Part III: The Devourer Below</h1>

<em>
<p>After a frantic nighttime search throughout Arkham, you have tracked down and questioned several members of the cult. Your ﬁndings are disturbing: they claim to worship a being known as Umôrdhoth, a mysterious entity from another realm.</p>

<p>You are able to conﬁrm much of Lita's story: the cult is agitated over the destruction of a ghoul lair. However, a surprising detail also turns up: the one who invaded the lair and set this night's events in motion was none other than Lita Chantler herself! You are not sure why this important detail was omitted from Lita's story — did she tell you only as much as was necessary to draw you into her conflict? But in another light, she seems to be ﬁghting to protect the city of Arkham from a terrible menace.</p>

<p>The final piece of the puzzle was found written in a journal possessed by one of the cultists. It describes a dark ritual to be performed deep within the woods south of Arkham, this very night. According to the journal, the ritual's completion will open a gate and bring forth the cult's dark master into this world. "If the cult is not stopped,” Lita warns, "there is a possibility that Umôrdhoth's vengeance will consume all in its path." Frightened but determined to stop the ritual, you head into the woods...</p>
</em>

<h2 id="Part_III_Setup">Setup</h2>

<ul>

<li>Gather all cards from the following encounter sets: <em>The Devourer Below</em>, <em>Ancient Evils</em>, <em>Striking Fear</em>, <em>Ghouls</em>, and <em>Dark Cult</em>. These sets are indicated by the following icons:<br>
[tentacles] [ancient_evils] [striking_fear] [ghouls] [pentagram]</li>

<li>Put the <a href="http://arkhamdb.com/card/01149" target="_blank">Main Path</a> location into play. Shuttle the 6 copies of <a href="http://arkhamdb.com/find?q=01150%7C01151%7C01152%7C01153%7C01154%7C01155&decks=all" target="_blank">Arkham Woods</a>, choose 4 of them at random, and put them into play without looking at their revealed sides. Remove the other 2 from the game. Each investigator begins play at the Main Path.</li>

<li>Set the <a href="http://arkhamdb.com/card/01156" target="_blank">Ritual Site</a> and <a href="http://arkhamdb.com/card/01157" target="_blank">Umôrdhoth</a> cards aside, out of play.</li>

<li>Randomly choose one of following 4 encounter sets: <em>Agents of Yog-Sothoth</em>, <em>Agents of Shub-Niggurath</em>, <em>Agents of Cthulhu</em>, or <em>Agents of Hastur</em>. These sets are indicated by the following icons:<br>
[agents_of_yog] [agents_of_shub] [agents_of_cthulhu] [agents_of_hastur]<br>
Without looking at the chosen encounter set, shuﬁle it and the remainder of the encounter cards together to form the encounter deck. Remove the other 3 encounter sets from the game.</li>

<li>Check the number of names recorded under "Cultists Who Got Away” in your Campaign Log.

<ul>

<li>If there are exactly 0 names, no changes are made.</li>

<li>If there are exactly 1 or 2 names, place 1 doom on Agenda 1a.</li>

<li>If there are exactly 3 or 4 names, place 2 doom on Agenda 1a.</li>

<li>If there are exactly 5 or 6 names, place 3 doom on Agenda 1a.</li>

</ul>

<li>Add 1 [elder_thing] chaos token to the chaos bag for the remainder of the campaign.</li>

<li>Check Campaign Log. <em>If it is past midnight:</em> Each player discards 2 random cards from his or her starting hand.</li>

<li>Check Campaign Log. <em>If the Ghoul Priest is still alive:</em> Shuffle it into the encounter deck.</li>

</ul>

<h2 id="Part_III_Resolution">Resolution (DO NOT READ until the end of the scenario)</h2>

<details>

<summary>If no resolution was reached (each investigator resigned or was defeated)</summary>

<p><em>Too frightened to face her fate, Lita ﬂees into the night. She realizes that she has failed and Umôrdhoth's vengeance will pursue her wherever she goes. The creature's tendrils spread throughout the city of Arkham, searching for her. It lurks in the darkness of every corner, tugging at the seams of reality. But Lita is nowhere to be found, so the creature dwells in the shadows to this day, searching... killing.</em></p>

<ul>

<li>In your Campaign Log, record that <em>Arkham succumbed to Umôrdhoth's terrible vengeance.</em></li>

<li>Each surviving investigator is <b>killed.</b></li>

<li>The investigators lose.</li>

</ul>

</details>
<br>
<details>

<summary>Resolution 1</summary>

<p><em>You have managed to prevent the cult from summoning its master. Although you're unsure what would have happened had the cult succeeded, you're relieved that — at least for the time being — Arkham is safe. You capture as many cultists as you can find, but very few townspeople believe your tale. Perhaps it was all in your head, after all.</em></p>

<ul>

<li>In your Campaign Log, record that <em>the ritual to summon Umôrdhoth was broken.</em></li>

<li>Each investigator suffers 2 mental trauma, as he or she never fully recovers from his or her ordeal.</li>

<li>Each investigator earns experience equal to the Victory X value of each card in the victory display. Each investigator earns 5 bonus experience, as he or she has saved Arkham from a terrible fate.</li>

<li>The investigators win!</li>

</ul>

</details>
<br>
<details>

<summary>Resolution 2</summary>

<p><em>Through force of arms and strength of will, you are somehow able to harm Umôrdhoth enough to send it reeling back to the dimension from which it emerged. Warmth and light return to the woods as the void-like mass is sucked in upon itself, vanishing in an instant. You aren't sure if a being such as this can be killed, but for the time being it seems to have retreated. As their master vanishes, the ghouls nearby climb into the open pit below, ﬂeeing with terrible cries and shrieks. You have stopped an evil plot, but the ﬁght has taken its toll on your body and mind. Worse, you can't help but feel insigniﬁcant in the face of the world's mysteries. What other terrors exist in the deep, dark corners of reality?</em></p>

<ul>

<li>In your Campaign Log, record that <em>the investigators repelled Umôrdhoth.</em></li>

<li>Each investigator suffers 2 physical trauma and 2 mental trauma, as the fight against Umôrdhoth has taken its toll on his or her body and mind.</li>

<li>Each investigator earns experience equal to the Victory X value of each card in the victory display. Each investigator earns 10 bonus experience, as he or she has triumphed in battle against a truly terrible foe.</li>

<li>The investigators win!</li>

</ul>

</details>
<br>
<details>

<summary>Resolution 3</summary>

<p><em>In the face of this horror, you don't believe there is anything you can do to stop it. You have but one hope if you are to survive. You turn on Lita and throw her at the terrible monstrosity, watching in dread as its swirling void-like mass consumes her. She cries out in torment as the life is sucked from her body. "Umôrdhoth... Umôrdhoth..." the cultists chant. Lita Chantler vanishes without a trace. For a moment, you fear that the creature will now turn on you, but you hear one of the cultists say, "Umôrdhoth is a just god who claims only the guilty and the dead. Go, and you shall be spared." The swirling mass vanishes, and warmth and light return to the woods. The cultists slink away, leaving you alive. Lita's last moments are forever etched upon your memory.</em></p>

<ul>

<li>In your Campaign Log, record that <em>the investigators sacriﬁced Lita Chantler to Umôrdhoth.</em></li>

<li>Each investigator suffers 2 physical trauma and 2 mental trauma, as the mere sight of Umôrdhoth has taken its toll on his or her body and mind.</li>

<li>The guilt over sacriﬁcing Lita forever haunts your memory. Each investigator must search the collection for a random <i>Madness</i> weakness and add it to his or her deck.</li>

<li>Each investigator earns experience equal to the Victory X value of each card in the victory display.</li>

<li>The investigators have survived, but their actions weigh heavily on their consciences.</li>

</ul>

</details>

<h1 id="The_End">The End...or Is It?</h1>

<p>At the end of a campaign, the experience, trauma, and weaknesses granted by the ﬁnal scenario resolution allow the players to feel the full consequences of their actions. The investigators' many decisions and actions (as recorded in their Campaign Log) form the outline of their story. Players are encouraged to share the results of their story and their investigators' ﬁnal decks online at the fantasyllightgames.com forums or on social media.</p>

<p>Now that you have completed the introductory campaign of <em>Arkham Horror: The Card Game</em>, try playing the campaign again with new investigators or at a higher difficulty level!</p>

<p>Future expansions of <em>Arkham Horror: The Card Game</em> will introduce new campaigns for the players to embark on. Typically, a deluxe box expansion forms the foundation for a new campaign, followed by six Mythos Packs that continue and conclude the campaign. The standard rules dictate that players start each campaign with new decks and 0 experience. However, intrepid players who wish to embrace the chaos may transfer investigators who have completed one campaign into a different campaign by carrying over each investigator's deck, trauma, and experience.</p>

</div>
