{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block body %}
<div class="container">
    <div class="alert alert-danger" role="alert">{{ error }}</div>
</div>
{% endblock %}
