<div class="ad">
<!-- Adaptable -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2254488884647695"
     data-ad-slot="3777512162"
     data-ad-format="auto"></ins>
</div>