<div class="ad">
<!-- Adaptable -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="{{ google_adsense_client }}"
     data-ad-slot="{{ google_adsense_slot }}"
     data-ad-format="auto"></ins>
</div>