{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="jumbotron">
<div class="container">
<h1 class="site-title">Thr<span style="position:relative">o<span class="icon icon-power" style="position:absolute;left: .65em;top: 1.2em;font-size: 30%;"></span></span>nesDB</h1>
<div class="site-slogan">Deckbuilder for A Game of Thrones LCG 2nd Edition</div>
</div> <!-- .container -->
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('/bundles/app/js/app.smart_filter.js') }}"></script>

<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "https://thronesdb.com/",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "http://thronesdb.com/find/?q={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>
{% endblock %}
