{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
<link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}

<div class="jumbotron">
<div class="container">
<h1 class="site-title">agot<span>2</span>db</h1>
<div class="site-slogan">The Only Deckbuilder That Matters</div>
</div> <!-- .container -->
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('/bundles/app/js/app.smart_filter.js') }}"></script>

<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "https://agot2db.com/",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "http://agot2db.com/find/?q={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>
{% endblock %}
