{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="container">

</div> <!-- .container -->

{% endblock %}

{% block javascripts %}
<script src="{{ asset('/bundles/app/js/app.smart_filter.js') }}"></script>

<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "https://agot2db.com/",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "http://agot2db.com/find/?q={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>
{% endblock %}
