<form action="{{ path('excel_download_process') }}" method="post" enctype="multipart/form-data">
	<p>
		<select name="pack">
			{% for pack in packs %}
				<option value="{{ pack.id }}">{{ pack.name }}</option>
			{% endfor %}
		</select>
	</p>
	<p>
    	<input type="submit" value="Submit">
    </p>
</form>
